.posts {
  margin: 15px 0;
}

.posts-name {
  text-align: center;
  font-size: 30px;
  line-height: 35px;
}

.posts-item {
  width: 650px;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  border-radius: 8px;
  border: 4px solid gray;
  margin: 10px auto;
  background-color: #f2f2f2;
  padding: 15px;
}

.posts-active {
  border-color: red;
}
